<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Crear Actividad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
        <form action="/actividad" th:action="@{/actividad}" th:object="${actividad}" method="post" >

            <table>
                <tr>
                    <td>NombreActividad:</td>
                    <td><input type="text" th:field="*{NombreActividad}" /></td>
                </tr>
                <tr>
                    <td>CostoActividad:</td>
                    <td><input type="text" th:field="*{CostoActividad}" /></td>
                </tr>
                <tr>
                    <td>DescripcionActividad:</td>
                    <td><input type="text" th:field="*{DescripcionActividad}" /></td>
                </tr>
                
                <tr>
                    <td><button type="submit">Crear Actividad</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>