<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Crear Objeto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
        <form action="/objeto" th:action="@{/objeto}" th:object="${objeto}" method="post" >

            <table>
                <tr>
                    <td>Serial:</td>
                    <td><input type="text" th:field="*{SerialObjeto}" /></td>
                </tr>
                <tr>
                    <td>Marca:</td>
                    <td><input type="text" th:field="*{MarcaObjeto}" /></td>
                </tr>
                <tr>
                    <td>Modelo:</td>
                    <td><input type="text" th:field="*{ModeloObjeto}" /></td>
                </tr>
                <tr>
                    <td>Descripción:</td>
                    <td><input type="text" th:field="*{DescripcionObjeto}" /></td>
                </tr>
                <tr>
                    <td>Longitud:</td>
                    <td><input type="text" th:field="*{LongitudObjeto}" /></td>
                </tr>
                <tr>
                    <td>Ancho:</td>
                    <td><input type="text" th:field="*{AnchoObjeto}" /></td>
                </tr>
                <tr>
                    <td>Altura:</td>
                    <td><input type="text" th:field="*{AlturaObjeto}" /></td>
                </tr>
                <tr>
                    <td>Área:</td>
                    <td><input type="text" th:field="*{AreaObjeto}" /></td>
                </tr>
                <tr>
                    <td>Vida Útil:</td>
                    <td><input type="text" th:field="*{VidaObjeto}" /></td>
                </tr>
                <tr>
                    <td>Fecha Creación:</td>
                    <td><input type="date" th:field="*{FechaCreacionObjeto}" /></td>
                </tr>
                <tr>
                    <td>Fecha Obtención:</td>
                    <td><input type="date" th:field="*{FechaObtencionObjeto}" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Crear Objeto</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>